{{#if isAuth}}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">e-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/views/products">Productos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/profile?qty={{qty}}&cart={{cart}}">Mis Datos</a>
                </li>
                {{#if isAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/views/users?qty={{qty}}">Usuarios</a>
                {{/if}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/tickets">Mis Compras</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="navbar-brand" href="/api/session/deleteCookie?id={{userId}}">LogOut</a>
                </li>
            </ul>
            <a class="navbar-brand" href="/views/carts/{{cart}}">
                <button type="button" class="btn btn-primary">
                    Cart <span class="badge badge-light">{{qty}}</span>
                </button>
            </a>
        </div>
    </nav>
    <br/>
    {{#if this.success}}
    <div class="alert alert-success auto-close" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       {{this.success}}
    </div>
    {{/if}}
    {{#if this.error}}
    <div class="alert alert-danger auto-close" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       {{this.error}}
    </div>
    {{/if}}
    {{#if isValid}}
        {{#if isAdmin}}
        <div class="col-sm-2 ml-0"> 
            <a href="/views/product"><button class="btn btn-success btn-block mb-2">Create </button></a>
        </div>        
        {{/if}}
        {{#if isPremiun}}
        <div class="col-sm-2 ml-0"> 
            <a href="/views/product"><button class="btn btn-success btn-block mb-2">Create </button></a>
        </div>        
        {{/if}}
        <div class="table-responsive" >
            <table class="table table-striped table-bordered bulk_action .w-auto">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Code</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                {{#each docs}}
                    <tr id={{this._id}}>
                        <td class="span*">{{this.title}}</td>
                        <td class="span*">{{this.description}}</td>
                        <td class="span*">{{this.code}}</td>
                        <td class="span*">{{this.category}}</td>
                        <td class="span*">{{this.price}}</td>
                        <td class="span*">
                            <div class="d-flex row m-1">
                                {{#if this.admin}}
                                {{else}}
                                   <form action="/carts/{{this.cart}}/product/{{this._id}}" class="m-1" method="post">
                                        <button class="btn btn-primary" type="submit">Add Cart</button>
                                    </form>       
                                {{/if}}
                                {{#if this.admin}}
                                    <form action="/products/delete/{{this._id}}" class="m-1" method="get">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                {{/if}}    
                                {{#if this.premiun}}
                                    <form action="/products/delete/{{this._id}}" class="m-1" method="get">
                                        <button class="btn btn-danger" type="submit">Delete</button>
                                    </form>
                                {{/if}}
                            </div>
                        </td>     
                    </tr>
                {{/each}}
                    <tr>
                        <td>
                            {{#if hasPrevPage}}
                                <a href={{this.prevLink}}>  Anterior </a>
                            {{/if}}
                            &nbsp;
                            {{this.page}}
                            &nbsp;
                            {{#if hasNextPage}}
                                <a href={{this.nextLink}}>  Siguiente  </a>
                            {{/if}} 
                        </td>
                    </tr>
                </tbody> 
            </table>   
        </div>
        <br/>    
    {{else}}
        <h1>No hay Productos</h1>
    {{/if}}     
{{else}}
        <h1>No esta autorizado</h1>
        <a href="/views/login"><button>Log In</button></a>
{{/if}}    
</div>
<script src="/js/utils.js"></script>
