<div id="products">
    <h1>Productos</h1>
    <hr>
    {{#each products}}
        <div id={{this.code}}>
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Code: {{this.code}}</p>
            <p>Price: {{this.price}}</p>
            <p>Category: {{this.category}}</p>
        </div>
        <hr>
    {{/each}}    
</div>