{{#if isAuth}}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">e-Commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/views/products">Productos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/profile?qty={{qty}}&cart={{cart}}">Mis Datos</a>
                </li>
                {{#if isAdmin}}
                <li class="nav-item">
                    <a class="nav-link" href="/views/users?qty={{qty}}">Usuarios</a>
                {{/if}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/views/tickets">Mis Compras</a>
                </li>
                <li class="nav-item ml-5">
                    <a class="navbar-brand" href="/api/session/deleteCookie?id={{userId}}">LogOut</a>
                </li>
            </ul>
            <a class="navbar-brand" href="/views/carts/{{cart}}">
                <button type="button" class="btn btn-primary">
                    Cart <span class="badge badge-light">{{qty}}</span>
                </button>
            </a>
        </div>
    </nav>
    <br/>
    {{#if this.error}}
    <div class="alert alert-danger auto-close" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       {{this.error}}
    </div>
    {{/if}}
    {{#if this.success}}
    <div class="alert alert-success auto-close" role="alert">
       <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       {{this.success}}
    </div>
    {{/if}}
    {{#if isValid}}
        {{#if isAdmin}}
           <div class="mb-2">   
              <form id="delUsersForm"><button class="btn btn-danger" type="submit">Delete Inactives</button></form>
           </div>               
        {{/if}}
        <div class="table-responsive" >
            <table class="table table-striped table-bordered bulk_action">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th>E-mail</th>
                        <th>Perfil</th>
                        <th>Actividad</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                {{#each docs}}
                    <tr id={{this._id}}>
                        <td>{{this.first_name}}</td>
                        <td>{{this.last_name}}</td>
                        <td>{{this.age}}</td>
                        <td>{{this.email}}</td>
                        <td>{{this.role}}</td>
                        <td>{{this.last_connection}}</td>
                        <td>
                            <form action="/api/users/delete/{{this._id}}" method="post"><button class="btn btn-danger" type="submit">Delete</button></form>
                            {{#if this.admin}}
                                
                            {{else}}
                                {{#if this.premiun}}
                                    <form action="/api/users/user/{{this._id}}" method="post"><button class="btn btn-warning" type="submit">Change User</button></form>
                                {{else}}
                                    <form action="/api/users/premiun/{{this._id}}" method="post"><button class="btn btn-warning" type="submit">Change Premiun</button></form>
                                {{/if}}
                            {{/if}}        
                        </td>     
                    </tr>
                {{/each}}
                    <tr>
                        <td>
                            {{#if hasPrevPage}}
                                <a href={{this.prevLink}}>  Anterior </a>
                            {{/if}}
                            &nbsp;
                            {{this.page}}
                            &nbsp;
                            {{#if hasNextPage}}
                                <a href={{this.nextLink}}>  Siguiente  </a>
                            {{/if}} 
                        </td>
                    </tr>
                </tbody> 
            </table>   
        </div>
        <br/>    
    {{else}}
        <h1>No hay Productos</h1>
    {{/if}}     
{{else}}
        <h1>No esta autorizado</h1>
        <a href="/views/login"><button>Log In</button></a>
{{/if}}    
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/utils.js"></script>
<script src="/js/deleteUsers.js"></script>
